@charset 'UTF-8';

// Modules
// @import 'modules/common';

.v-main__wrap {
  .container {
    padding: 12px 5rem;
  }
}

.v-toolbar__title {
  .toolbar-title {
    color: white;
    text-decoration: none;
  }
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.box-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  .col {
    .v-btn {
      &.category-box {
        font-size: 1.5rem;
        padding: 20px;
        text-align: center;
        width: 100%;
        height: 50px;
        background-color: whitesmoke;
        border-radius: 30px;
        text-transform: none;
      }
    }
  }
}

.page-title {
  margin: 1rem 0;
}
.stock-icon{
  border-radius: 50%;
}
